body{
        background: rgb(194,46,208);
        background: linear-gradient(147deg, rgba(194,46,208,1) 0%, rgb(95, 250, 224) 100%);
    }
    ::-webkit-scrollbar {
    width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: inherit;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #9553e0; 
    border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #7922c0; 
    }
    